@import "tailwindcss";
@import "lenis/dist/lenis.css";

html,
body {
  overflow-x: hidden;
  overflow-x: clip;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}